<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<h1>결제영수증</h1>
	<hr>
	<div>
			<table style="text-align: center;">
				<tr>
					<th>번호</th>
					<th>이름</th>
					<th>가격</th>
					<th>갯수</th>
					<th>결제일시</th>

				</tr>
					<tr th:each="payment : ${payment}">
						<td th:text="${payment.menuNo.id}">
						<td th:text="${payment.menuNo.menuName}">
						<td th:text="${payment.menuNo.menuPrice}">원		
						<td th:text="${payment.menuNum}">개
						<td th:text="${payment.payDate}">
					</tr>
			</table>
			<button id="back" th:onclick="location.href='/menu/list'">뒤로가기</button>	
	</div>
	
</body>	
</html>